html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-family: monospace;
  background: #000;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  max-width: 100%;
  max-height: 100%;

  background: #111;
  image-rendering: pixelated;
}
